//global variables 
$main_color: #34508A;
$second_color: #f6d731;
$dark_color: #1D2228;
$padding_section: 100px 0;
//global styles

//mixins
@mixin borderRadius($border) {
    border-radius: $border;
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    -ms-border-radius: $border;
    -o-border-radius: $border;
}

@mixin transition($trans) {
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
}

@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin animation($anim) {
    animation: $anim;
    -webkit-animation: $anim;
}

@mixin boxshadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

//placeholder selectors
%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%overflow_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

%overlay {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

%before {
    content: "";
    position: absolute;
}

%fitimage {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
%max_lines {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
%max_one_line {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}