@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
    header {
        .navbar {
            padding: 10px 0;
        }

        .hamburger-menu {
            display: inline-block;
        }
    }
    section.clients {
        .clients-content {
            .clients-box {
                height: auto;
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    section.clients {
        .clients-content {
            .clients-box {
                padding: 15px;
                width: 50%
            }
        }
    }
}

@media screen and (max-width: 670px) {
    
}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 400px) {
    
}