//footer part
footer
	.container 
		.footer-content
			.row 
				div(class="col-lg-5")
					.footer-box
						h3 من نحن
						.about
							p نحن فريق تسويق رقمي متميز وبخبرة مع أكثر من 40 شركة في مصر والخليج العربي بإستهداف لغالبية دول العالم العربي والغربي وفي الكثير من المجالات والصناعات المختلفة. بإستهداف لغالبية دول العالم العربي والغربي وفي الكثير من المجالات والصناعات المختلفة. مثل تأجير السيارات - بيع المنتجات (قطاعي وبالجملة) - المجال الطبي (عيادات أسنان والقلب وغيرها) - منتجات غذائية ديكور وتصميم داخلي - خرسانات مطبوعة - برامج وتطبيقات - العقارات والكثير من المجالات الأخرى.
						.social-media 
							ul 
								li 
									a(href="https://www.facebook.com/QaswarahAgency", target="_blank")
										i(class="bi bi-facebook") 
								li 
									a(href="https://www.linkedin.com/company/qaswarah-agency/", target="_blank")
										i(class="bi bi-linkedin") 
								//- li 
									a(href="", target="_blank")
										i(class="bi bi-instagram") 
				div(class="col-lg-3")
					.footer-box
						h3 خريطة الموقع
						.main 
							ul 
								li
									a(href="#about") من نحن
								li
									a(href="#services") خدماتنا
								li
									a(href="#clients") عملائنا
								li
									a(href="#contact") تواصل معنا
				div(class="col-lg-4")
					.footer-box
						h3 معلومات التواصل
						.contact 
							ul 
								li  
									i(class="bi bi-envelope") 
									a(href="mailto:qaswarahagency@gmail.com") qaswarahagency@gmail.com
								li  
									i(class="bi bi-telephone")
									a(href="tel:+201098644314" dir="ltr") +201098644314
								li
									i(class="bi bi-pin-map")
									span مصر، القاهرة
	.copyright 
		.copy-text
			p جميع الحقوق محفوظة &copy;
				a(href="https://qaswarahagency.com/") قسورة للتسويق الإلكتروني.
//footer part