//main slider
section(class="main-slider")
    div(class="main-slider-content")
        div(class="container")
            div(class="slider-text")
                h1 Lorem ipsum dolor,
                    br
                    | fugiat pariatur eius esse, 
                    br
                    span(class="diff-color") eveniet laboriosam commodi
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel quaerat rem, nemo asperiores incidunt quo eveniet magni mollitia
                a(href="" class="btn slider-btn") let's talk
//main slider


//about
section(class="about")
    div(class="container")
        div(class="main-title")
            h2 about us
                span(class="line")
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur
        div(class="about-content")
            div(class="about-text")
                p Every event comes with its unique set of challenges and goals. We specifically designed our event software to help event teams accelerate their growth goals while reducing the complexities typically associated with event technology. Expand your reach, engage your attendees, amplify your attendee experience, generate qualified leads, make your sponsors happy, and boost your revenue with Accelevents. Enhance your event marketing with our all-in-one event management solution.
            div(class="about-btn")
                a(href="" class="btn") contact us now
//about

//services
section(class="services")
    div(class="container")
        div(class="main-title")
            h2 our services
                span(class="line")
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur suscipit.
        div(class="services-content")
            div(class="row")
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            i(class="bi bi-heart") 
                        div(class="text")
                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
//services

//clients
section(class="clients")
    div(class="container")
        div(class="main-title")
            h2 our clients
                span(class="line")
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur
        div(class="clients-content")
            div(class="clients-box")
                img(src="images/clients/01.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/02.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/03.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/04.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/05.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/06.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/07.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/08.png", class="img-fluid" alt="")
//clients