//main slider
section(class="main-slider")
    div(class="main-slider-content")
        div(class="container")
            div(class="slider-text")
                h1 قسورة للتسويق الرقمي
                    br
                    span(class="diff-color") نحن نصطاد النجاح
                p بخبرة مع أكثر من 40 شركة في مصر والخليج العربي بإستهداف لغالبية دول العالم العربي والغربي وفي الكثير من المجالات والصناعات المختلفة.
                a(href="tel:+201098644314" class="btn slider-btn") تواصل معنا
//main slider


//about
section(class="about" id="about")
    div(class="container")
        div(class="content")
            div(class="main-title")
                h2 نبذة عنا
                    span(class="line")
                p نحن فريق تسويق رقمي متميز وبخبرة مع أكثر من 
                    strong 40 
                    | شركة في مصر والخليج العربي
                    br
                    | بإستهداف لغالبية دول العالم العربي والغربي وفي الكثير من المجالات والصناعات المختلفة.
            div(class="about-content")
                div(class="about-text")
                    p بإستهداف لغالبية دول العالم العربي والغربي وفي الكثير من المجالات والصناعات المختلفة.
                        br
                        | مثل تأجير السيارات - بيع المنتجات (قطاعي وبالجملة) - المجال الطبي (عيادات أسنان والقلب وغيرها) - منتجات غذائية ديكور وتصميم داخلي - خرسانات مطبوعة - برامج وتطبيقات - العقارات  والكثير من المجالات الأخرى.
                div(class="about-btn")
                    a(href="#contact" class="btn") تواصل معنا الآن
//about

//services
section(class="services" id="services")
    div(class="container")
        div(class="main-title")
            h2 خدماتنا
                span(class="line")
        div(class="services-content")
            div(class="row")
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/01.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التسويق على محركات البحث
                            p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/02.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") رفع ترتيب المواقع في محركات البحث
                            p(class="details") من خلال البحث الدقيق عن الكلمات الرئيسية وممارسات القبعة البيضاء ، يمكننا مساعدتك في تحقيق تصنيفات عالية في محركات البحث الرئيسية.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/03.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") تصميم وتطوير المواقع الإلكترونية
                            p(class="details") مع ملايين المواقع على الإنترنت التي تريدها للتأكد من تميز موقع الويب الخاص بك ، يمثلك جيدًا ، والأهم من ذلك تساعد مؤسستك على النمو.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/04.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التسويق على المواقع الإلكترونية
                            p(class="details") يوجد أكثر من مليوني موقع على شبكة جوجل ديسبلاي ، والتي تصل إجمالاً إلى أكثر من 90٪ من جميع مستخدمي الإنترنت. يتم عرض اعلان جوجل ديسبلاي  في جميع المدونات والمنشورات والتطبيقات الرئيسية  مما يجعل جوجل ديسبلاي  أداة ممتازة للوصول إلى العملاء المناسبين في الوقت المناسب
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/05.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التسويق عبر مواقع التواصل الإجتماعي
                            p(class="details") يقضي مستخدمو وسائل التواصل الاجتماعي ثلاث ساعات في المتوسط يوميًا في التصفح المنصات المفضلة لديهم ، مما يجعل التسويق عبر وسائل التواصل الاجتماعي استراتيجية إعلانية فعالة لتنمية العملاء المحتملين والمشاركة مع مجتمعك المحلي. عبر القنوات الشهيرة مثل Facebook و Instagram و LinkedIn و Twitter و .snapchat و tiktok والمزيد
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/06.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التسويق بالبريد الإلكتروني
                            p(class="details") هو واحد من أقدم وأفضل استراتيجيات التسويق الإلكتروني يمكنك من خلاله الحصول على زوار في غاية الاستهداف سواء لموقع شركتك أو متجرك الإلكتروني.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/07.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") إدارة حسابات وسائل التواصل الإجتماعي
                            p(class="details") دع الخبراء يتعاملون مع حسابات وسائل التواصل الاجتماعي الخاصة بك من مشاركة المتابعين إلى المجتمع الإدارة ، جمهورك في أيد أمينة
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/08.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التصميمات وهوية العلامة التجارية
                            p(class="details") تصميمات احترافية سواءا لهوية العلامة التجارية من لوجو وغلاف الى المنشورات التميزة بأحدث وأقوى تقنيات التصميم.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/09.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التحليلات والتقارير
                            p(class="details") تحيلات للسوق وموقعنا في المنافسة بشكل منتظم وتقارير دورية لأداء الحملات الإعلانية وضعها بين المنافسين وما تحققه من أرقام من مرات ظهور وتفاعل طوال فترة الحملة الإعلانية
//services

//clients
section(class="clients" id="clients")
    div(class="container")
        div(class="main-title")
            h2 من عملائنا
                span(class="line")
            //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur
        div(class="clients-content")
            div(class="clients-box")
                img(src="images/clients/01.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/02.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/03.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/04.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/05.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/06.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/07.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/08.png", class="img-fluid" alt="")
//clients

//contact us
section(class="contact" id="contact")
    div(class="container")
        div(class="content")
            div(class="contact-form")
                div(class="main-title")
                    h2 تواصل معنا
                        span(class="line")
                form(action="send.php" method="POST")
                    div(class="row")
                        div(class="col-lg-6")
                            div(class="form-group")
                                label(for="") الاسم *
                                input(type="text" name="name" class="form-control" placeholder="الاسم" required)
                        div(class="col-lg-6")
                            div(class="form-group")
                                label(for="") البريد الإلكتروني *
                                input(type="email" name="email" class="form-control" placeholder="البريد الإلكتروني" required)
                        div(class="col-lg-12")
                            div(class="form-group")
                                label(for="") الهاتف *
                                input(type="number" name="phone" class="form-control" placeholder="الهاتف" required)
                        div(class="col-lg-12")
                            div(class="form-group")
                                label(for="") الرسالة *
                                textarea(class="form-control" name="message" rows="5" placeholder="اترك رسالتك هنا")
                    div(class="contact-btn")
                        button(class="btn" type="submit") إرسال الآن
//contact us