//main slider
section(class="main-slider")
    div(class="main-slider-content")
        div(class="container")
            div(class="slider-text")
                h1 QASWARAH AGENCY
                    br
                    span(class="diff-color") We hunt the succes
                p With experience with more than clients from Egypt and the Arab Gulf countries, targeting the majority.of countries in the world and in more than one industry
                a(href="tel:+201098644314" class="btn slider-btn") let's talk
//main slider


//about
section(class="about" id="about")
    div(class="container")
        div(class="main-title")
            h2 about us
                span(class="line")
            p We are a Digital Marketing Agency With experience with more than 
                strong 40 
                | clients from Egypt and the Arab Gulf countries
                br
                | from Egypt and the Arab Gulf countries
                br
                | targeting the majority of countries in the world and in more than one industry and field 
        div(class="about-content")
            div(class="about-text")
                p like Car rental - selling products (wholesale and retail) - in the medical field (such as dental clinics and heart clinics) - foodstuffs - selling and maintaining electronics 
                    br
                    | in the sports field such as squash - interior design - accounting programs - real estate - ETC
            div(class="about-btn")
                a(href="#contact" class="btn") contact us now
//about

//services
section(class="services" id="services")
    div(class="container")
        div(class="main-title")
            h2 our services
                span(class="line")
            //- p We have a range of integrated marketing services
        div(class="services-content")
            div(class="row")
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/01.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") Pay Per Click (PPC) Marketing
                            p(class="details") While SEO offers long-term growth sometimes you need an immediate boost.Thrive’s PPC campaign ensures that the money you spend is put to the very best possible use.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/02.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") SEARCH ENGINE OPTIMIZATION – SEO 
                            p(class="details") Through careful keyword research and white hat practices, we can help you achieve high rankings in the major search engines.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/03.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") WEBSITE DESIGN DEVELOPMENT
                            p(class="details") With millions of websites on the internet you want to be sure your website stands out, represents you well, and most importantly helps your organization grow.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/04.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") DISPLAY ADVERTISING SERVICES
                            p(class="details") Display advertising is a form of PPC marketing that targets unsuspecting consumers based on the demographics of your current customers. Create engaging ads that grow brand awareness and resonate with customers before they need you.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/05.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") SOCIAL MEDIA MARKETING
                            p(class="details") Social media users spend an average of three  hours per day browsing their preferred platforms, making social media marketing an effective advertising strategy to grow leads and engage with your local community. Grow your page likes and following across popular channels like Facebook, Instagram, LinkedIn, Twitter, .snapchat, tiktok and more
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/06.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") EMAIL MARKETING
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla It is one of the oldest and best e-marketing strategies Through which you can get visitors in Targeting either your company's website or your online store.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/07.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") Social Media Management
                            p(class="details") let experts handle your social media accounts from follower engagement to community management, your audience is in good hands
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/08.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") Branding & Design
                            p(class="details") Digital content creation services for Branding and Marketing purposes with the latest and most up-to-date style on Social Media like logo and posts.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="../images/services/09.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") Analytics and Reports
                            p(class="details") Analysis of the market and competitors to guide the customer to the best path And after we starting campaigns, informed reports of the results and performance of the campaigns
//services

//clients
section(class="clients" id="clients")
    div(class="container")
        div(class="main-title")
            h2 our clients
                span(class="line")
            //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur
        div(class="clients-content")
            div(class="clients-box")
                img(src="../images/clients/01.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="../images/clients/02.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="../images/clients/03.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="../images/clients/04.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="../images/clients/05.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="../images/clients/06.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="../images/clients/07.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="../images/clients/08.png", class="img-fluid" alt="")
//clients

//contact us
section(class="contact" id="contact")
    div(class="container")
        div(class="content")
            div(class="contact-form")
                div(class="main-title")
                    h2 contact us now
                        span(class="line")
                form(action="send.php" method="POST")
                    div(class="row")
                        div(class="col-lg-6")
                            div(class="form-group")
                                label(for="") your name *
                                input(type="text" name="name" class="form-control" placeholder="Name" required)
                        div(class="col-lg-6")
                            div(class="form-group")
                                label(for="") your email *
                                input(type="email" name="email" class="form-control" placeholder="Email" required)
                        div(class="col-lg-12")
                            div(class="form-group")
                                label(for="") your number *
                                input(type="number" name="phone" class="form-control" placeholder="Phone" required)
                        div(class="col-lg-12")
                            div(class="form-group")
                                label(for="") your message *
                                textarea(class="form-control" name="message" rows="5" placeholder="Leave your message")
                    div(class="contact-btn")
                        button(class="btn" type="submit") send now
//contact us